//=================================//
// Base styles for XTechne desktop //
//=================================//

@require "../DefaultVars"

$PANEL_HEIGHT = 50px
$ICON_MARGIN = 20px
$ICON_SIZE = $PANEL_HEIGHT - $ICON_MARGIN
$SEPARATOR_WIDTH = $PANEL_HEIGHT / 2.5

.xtechneContainer, .xtechneDesktopContainer
    display flex
    flex-direction row
    justify-content space-between
    position relative
    top 0
    left 0
    width 100%
    height 100%
    margin 0
    padding 0
    color $XDEFAULT_FG
    background darken($C4, 40%)
    background-size cover
    background-position center center
    overflow hidden
    opacity 1
    transition opacity 1s
    &.hidden
        opacity 0
    &>nav.xtechneDesktopPanel
        display flex
        flex-direction row
        justify-content flex-start
        align-items center
        position fixed
        left 0
        bottom 0
        width 100%
        height $PANEL_HEIGHT
        background $C0
        border-top 1px solid rgba(255,255,255,.05)
        z-index 999999
        opacity 1
        &>div.xtechneDesktopPanelItem
            display inline-block
            position relative
            width $PANEL_HEIGHT
            height $PANEL_HEIGHT
            background-position center center
            background-repeat no-repeat
            background-size $ICON_SIZE $ICON_SIZE
            transition background-color .2s
            cursor pointer
            &:hover
                background-color rgba(255,255,255,.1)
            &:after
                content ''
                display block
                position absolute
                bottom 0
                left 0
                width 100%
                height 0px
                background-color $C6
                transition height .2s
            &.open:after
                height 5px
        &>div.xtechneDesktopPanelSeparator
            display inline-block
            position relative
            width $SEPARATOR_WIDTH
            height $PANEL_HEIGHT
            &:before
                content ''
                display block
                position absolute
                width 2px
                height 70%
                background-color transparentify($C7, 50%)
                left calc(50% - 1px)
                top 15%
