//===================//
// Default variables //
//===================//

// TTY COLORS //
$C0 = #212121
$C1 = #F44336
$C2 = #4CAF50
$C3 = #FBC02D
$C4 = #3F51B5
$C5 = #9C27B0
$C6 = #00BCD4
$C7 = #FFFFFF

$DEFAULT_BG = $C0
$DEFAULT_FG = $C7

// XINSTANCE COLORS //
$XDEFAULT_BG = $C7
$XDEFAULT_FG = $C0

// FONTS //
$BASE_FONT_SIZE = 16px
$MONO = 'Courier New', courier, monospace
$WIDE = 'Roboto', Helvetica, Arial, sans-serif
$NARROW = 'Roboto Condensed', Helvetica, Arial, sans-serif
