//=================================//
// Base styles for XTechne desktop //
//=================================//

@require "DefaultVars"

.xtechneContainer
    display flex
    flex-direction row
    justify-content space-between
    position relative
    top 0
    left 0
    width 100%
    height 100%
    margin 0
    padding 0
    color $XDEFAULT_FG
    background-color $XDEFAULT_BG
