//==================//
// Nomos Components //
//==================//

@require '../DefaultVars'

img.nomosImage
    padding .6em

iframe.nomosIFrame
    display block
    position relative
    top 0
    left 0
    width 100%
    height 100%
    border none

input.nomosTextInput
    display inline-block
    position relative
    top 0
    left 0
    padding 1em
    &.full-width
        width 100%
    &.border-apollo
        padding .9em 2em
        border none
        border-radius 1.3em / 50%
        margin 1em
        width 98%
        outline none
