//===============//
// Nomos Layouts //
//===============//

@require '../DefaultVars'

div.nomosLayout.flex
    display flex
    position relative
    flex-direction row
    align-items center
    justify-content center
    width 100%
    height 100%
    top 0
    left 0
    margin 0
    padding 1em
    &.column
        flex-direction column
